<template>
    <div class="container">
        <div
            style="
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 15px;
            "
        >
            <div>
                <input
                    type="text"
                    placeholder="Search: Name, Email"
                    v-model="keyword"
                />
                <button style="margin-left: 10px" @click="setKeyword">
                    Search
                </button>
            </div>

            <button @click="openModal('Add')">Add User</button>
        </div>
        <Table>
            <template v-slot:thead>
                <tr>
                    <th v-for="(item, index) in fields" :key="index">
                        {{ item }}
                    </th>
                </tr>
            </template>
            <template v-slot:tbody>
                <tr v-for="(item, index) in user.listUser" :key="index">
                    <td>{{ item.name }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.website }}</td>
                    <td>
                        <button @click="editUser(item._id)">Edit</button>
                        <button
                            @click="deleteUser(item._id)"
                            style="margin-left: 5px"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
            </template>
        </Table>

        <Pagination
            v-if="user.amountUser > 0"
            :skip="params.skip"
            :take="params.take"
            :length="user.amountUser"
            @change="setPagin"
        />

        <Modal
            v-if="toggleModal"
            :toggle="toggleModal"
            @close="closeModal"
            :width="'500px'"
        >
            <template v-slot:header> {{ action }} User </template>
            <template v-slot:body>
                <label for="name">Name:</label><br />
                <input
                    type="text"
                    id="name"
                    name="name"
                    v-model="form.name"
                /><br />

                <label for="username">Username:</label><br />
                <input
                    type="text"
                    id="username"
                    name="username"
                    v-model="form.username"
                /><br />

                <label for="username">Email:</label><br />
                <input
                    type="text"
                    id="email"
                    name="email"
                    v-model="form.email"
                /><br />

                <label for="phone">Phone:</label><br />
                <input
                    type="text"
                    id="phone"
                    name="phone"
                    v-model="form.phone"
                /><br />

                <label for="website">Website:</label><br />
                <input
                    type="text"
                    id="website"
                    name="website"
                    v-model="form.website"
                /><br />

                <hr />
                <p style="margin-bottom: 5px">Address</p>
                <label for="street">Street:</label><br />
                <input
                    type="text"
                    id="street"
                    name="street"
                    v-model="form.address.street"
                /><br />

                <label for="street">Suite:</label><br />
                <input
                    type="text"
                    id="suite"
                    name="suite"
                    v-model="form.address.suite"
                /><br />

                <label for="city">City:</label><br />
                <input
                    type="text"
                    id="city"
                    name="city"
                    v-model="form.address.city"
                /><br />

                <label for="zipcode">Zipcode:</label><br />
                <input
                    type="text"
                    id="zipcode"
                    name="zipcode"
                    v-model="form.address.zipcode"
                /><br />
            </template>
            <template v-slot:footer>
                <button @click="submitModal" style="margin-right: 5px">
                    Submit
                </button>
                <button @click="closeModal">Close</button>
            </template>
        </Modal>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";

export default Vue.extend({
    name: "Home",
    data() {
        return {
            fields: ["Name", "Username", "Email", "Phone", "Website", "Action"],
            params: {
                skip: 0,
                take: 10,
                keyword: "",
            },
            keyword: "",
            toggleModal: false,
            action: "Add",
            form: { _id: "", address: {} },
        };
    },
    computed: {
        ...mapGetters({
            user: "user",
        }),
    },
    methods: {
        ...mapActions({
            getListUser: "getListUser",
            createUser: "createUser",
            getUserById: "getUserById",
            deleteUserById: "deleteUserById",
            updateUser: "updateUser",
        }),
        async submitModal() {
            let result = false;
            if (this.action == "Add") {
                result = await this.createUser(this.form);
            } else {
                result = await this.updateUser({
                    id: this.form._id,
                    data: this.form,
                });
            }

            if (result) {
                this.closeModal();
                this.getListUser(this.params);
            }
        },
        async editUser(id: string) {
            const result = await this.getUserById(id);
            if (result.status) {
                this.form = result.response;
                this.openModal("Edit");
            }
        },
        async deleteUser(id: string) {
            if (confirm("Are you sure you want to Delete")) {
                await this.deleteUserById(id);
                this.getListUser(this.params);
            }
        },
        openModal(_action: string) {
            this.action = _action;
            this.toggleModal = true;
        },
        closeModal() {
            this.toggleModal = false;
            this.form = { _id: "", address: {} };
        },
        setKeyword() {
            this.params = {
                skip: 0,
                take: this.params.take,
                keyword: this.keyword,
            };
        },
        setPagin(_pagin: any) {
            this.params.skip = _pagin.skip;
            this.params.take = _pagin.take;
        },
    },
    watch: {
        params: {
            handler(newVal) {
                this.getListUser(newVal);
            },
            deep: true,
        },
    },
    mounted() {
        this.getListUser(this.params);
    },
    components: {
        Table: () => import("../components/Table.vue"),
        Pagination: () => import("../components/Pagination.vue"),
        Modal: () => import("../components/Modal.vue"),
    },
});
</script>

<style scoped>
.container {
    width: 90%;
    margin: auto;
}

input[type="text"] {
    width: 250px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
</style>
