<template>
    <div class="pagination">
        <select @change="changeTake">
            <option v-for="(item, index) in pageOptions" :key="index">
                {{ item }}
            </option>
        </select>

        <div>
            <button @click="prevPage" :disabled="skip == 0">&laquo;</button>
            <button
                v-for="(item, index) in Math.ceil(length / take) || 1"
                :key="index"
                :class="skip == index ? 'active' : ''"
                @click="changeSkip(index)"
                :disabled="skip == index"
            >
                {{ item }}
            </button>
            <button @click="nextPage" :disabled="(skip + 1) * take >= length">
                &raquo;
            </button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
    data() {
        return {
            pageOptions: [10, 20, 50, 100],
        };
    },
    methods: {
        changeTake(e: { target: { value: any } }) {
            this.$emit("change", { skip: 0, take: +e.target.value });
        },
        changeSkip(pageNumber: number) {
            this.$emit("change", { skip: pageNumber, take: this.take });
        },
        prevPage() {
            console.log("prevPage");
            this.$emit("change", { skip: this.skip - 1, take: this.take });
        },
        nextPage() {
            console.log("nextPage");
            this.$emit("change", { skip: this.skip + 1, take: this.take });
        },
    },
    props: {
        skip: {
            type: Number,
            default: 0,
        },
        take: {
            type: Number,
            default: 10,
        },
        length: {
            type: Number,
            default: 10,
        },
    },
});
</script>

<style scoped>
.pagination {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
}

.pagination button {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.pagination button.active {
    background-color: #ddd;
    color: white;
    border: 1px solid #ddd;
    cursor: default;
}
.pagination button.disabled,
.pagination button:disabled {
    cursor: default;
}

.pagination button:hover:not(.active) {
    background-color: #ddd;
}

select {
    border: 1px solid #ddd;
    padding: 8px 12px;
}
</style>
